@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-zinc-100 text-zinc-900 antialiased dark:bg-zinc-950 dark:text-zinc-100;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-300 dark:bg-zinc-700;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 dark:bg-zinc-600;
}

input[type='range'] {
  @apply h-1 cursor-pointer appearance-none rounded-full bg-zinc-500/50 accent-indigo-500;
}
